@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*>*{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.bg-glass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.bg-glassonly{
background: rgba(255, 255, 255, 0.11);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  /* Ensure body scrolls properly without showing scrollbar */
  body {
    overflow-y: scroll; /* Allow vertical scrolling */
  }
  
  /* Hide scrollbar on specific containers (if needed) */
  .hidden-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }